{
  "extends": ["@readme/eslint-config/testing"],
  "env": {
    "jest": true
  },
  "rules": {
    "jest/expect-expect": [
      "error",
      {
        "assertFunctionNames": [
          "expect",
          "nock.**.reply"
        ]
      }
    ]
  }
}
