{
  "extends": ["@readme/eslint-config"],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    /**
     * Because our command classes have a `run` method that might not always call `this` we need to
     * explicitly exclude `run` from this rule.
     */
    "class-methods-use-this": ["error", { "exceptMethods": ["run"] }],

    /**
     * Node doesn't ship ESM module resolution so we need to have file extensions on JS files that
     * we we load.
     *
     * https://github.com/airbnb/javascript/issues/2030
     */
     "import/extensions": ["error", "ignorePackages", {
      "js": "always"
    }],

    /**
     * This is a small rule to prevent us from using console.log() statements in our commands.
     *
     * We've had troubles in the past where our test coverage required us to use Jest mocks for
     * console.log() calls, hurting our ability to write resilient tests and easily debug issues.
     *
     * We should be returning Promise-wrapped values in our main command functions
     * so we can write robust tests and take advantage of `bin/rdme`,
     * which we use for printing function outputs and returning correct exit codes.
     *
     * Furthermore, we should also be using our custom loggers (see src/lib/logger.js)
     * instead of using console.info() or console.warn() statements.
     */
    "no-console": ["warn"],

    /**
     * `__dirname` isn't defined within the scope of ES modules in Node!
     *
     * https://bobbyhadz.com/blog/javascript-dirname-is-not-defined-in-es-module-scope
     */
    "no-underscore-dangle": ["error", { "allow": ["__dirname", "__filename"] }],

    "no-restricted-syntax": "off"
  }
}
