name: CI

on:
  push:
    branches:
      - main
      - next
  pull_request:

jobs:
  build:
    name: Test Suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 14
          - 16
          - 18

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Build dist
        run: npm run build

      - name: Run tests
        run: npm test

  action:
    name: GitHub Action Dry Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Action
        uses: actions/checkout@v3
        with:
          path: rdme-repo

      - name: Checkout external repo containing OpenAPI file
        uses: actions/checkout@v3
        with:
          path: oas-examples-repo
          repository: readmeio/oas-examples

      - name: Run `openapi:validate` command
        uses: readmeio/rdme@496c511ce3a46b03e5726858271dd22d4cdc12d1
        with:
          rdme: openapi:validate oas-examples-repo/3.1/json/petstore.json

      # Docs: https://rdme-test.readme.io
      - name: Run `openapi` command
        uses: readmeio/rdme@496c511ce3a46b03e5726858271dd22d4cdc12d1
        with:
          rdme: openapi oas-examples-repo/3.1/json/petstore.json --key=${{ secrets.RDME_TEST_PROJECT_API_KEY }} --id=${{ secrets.RDME_TEST_PROJECT_API_SETTING }}
