name: CI

on: [push, pull_request]

jobs:
  build:
    name: Test Suite
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 14
          - 16
          - 18

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install deps
        run: npm ci

      - name: Run tests
        run: npm test

  build-node12:
    name: Test Suite (Node 12)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 12
        uses: actions/setup-node@v3
        with:
          node-version: 12

      - name: Install deps
        run: npm ci

      # rdme doesn't work on Node 12 but we just want to run this single test to make sure that
      # our "we don't support node 12" error is shown.
      - name: Run tests
        run: npx jest __tests__/bin.test.js

  action:
    name: GitHub Action Dry Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Action
        uses: actions/checkout@v3
        with:
          path: rdme-repo

      - name: Checkout external repo containing OpenAPI file
        uses: actions/checkout@v3
        with:
          path: oas-examples-repo
          repository: readmeio/oas-examples

      - name: Run `validate` command
        uses: ./rdme-repo/
        with:
          rdme: validate oas-examples-repo/3.1/json/petstore.json

      - name: Run `validate` command to simulate warning
        uses: ./rdme-repo/
        with:
          rdme: validate --workingDirectory=rdme-repo/__tests__/__fixtures__

      # Docs: https://rdme-test.readme.io
      - name: Run `openapi` command
        uses: ./rdme-repo/
        with:
          rdme: swagger oas-examples-repo/3.1/json/petstore.json --key=${{ secrets.RDME_TEST_PROJECT_API_KEY }} --id=${{ secrets.RDME_TEST_PROJECT_API_SETTING }}
