name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Test Suite
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          # - ubuntu-latest
          - windows-latest
        node-version:
          - 14
          # - 16
          # - 18
          # - 19

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install deps
        run: npm ci

      - name: Build dist
        run: npm run build

      - name: Run tests
        run: npm test

  action:
    name: GitHub Action Dry Run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub Action
        uses: actions/checkout@v3
        with:
          path: rdme-repo

      - name: Checkout external repo containing OpenAPI file
        uses: actions/checkout@v3
        with:
          path: oas-examples-repo
          repository: readmeio/oas-examples

      - name: Run `openapi:validate` command
        uses: ./rdme-repo/
        with:
          rdme: openapi:validate oas-examples-repo/3.1/json/petstore.json

      # Docs: https://rdme-test.readme.io
      - name: Run `openapi` command
        uses: ./rdme-repo/
        with:
          rdme: openapi oas-examples-repo/3.1/json/petstore.json --key=${{ secrets.RDME_TEST_PROJECT_API_KEY }} --id=${{ secrets.RDME_TEST_PROJECT_API_SETTING }}
