name: Sync `documentation` directory to ReadMe

# Run workflow for every push
on: push

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Install and build rdme deps
        run: npm ci && npm run build

      # Let's dynamically update our docs with the latest version of rdme!
      # Note that these next three steps are not required
      # in order to sync your docs to ReadMe.

      # First, we run a script that sets a few outputs:
      # our package version and our Node.js version.
      - name: Retrieve version values
        id: rdme-version
        run: ./bin/set-version-output.js

      # Next, we use this output to do a few find/replaces!
      - name: Find and replace Node.js version placeholders
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: 'NODE_VERSION'
          replace: ${{ steps.rdme-version.outputs.NODE_VERSION }}
          regex: false
          include: documentation/*

      - name: Find and replace `rdme` version placeholders
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: 'RDME_VERSION'
          replace: ${{ steps.rdme-version.outputs.RDME_VERSION }}
          regex: false
          include: documentation/*

      # Since this workflow file is in the `rdme` repository itself,
      # we need to test the GitHub Action using the current commit.
      # This step builds the `rdme` action code so we can do that.
      #
      # This step is not required for syncing your docs to ReadMe!
      - name: Rebuild GitHub Action for testing purposes
        run: npm run build:gha

      # And finally, with our updated documentation,
      # we run the `rdme` GitHub Action to sync the Markdown file
      # in the `documentation` directory.
      # Here's the page we're syncing: https://docs.readme.com/docs/rdme

      # First we're going to perform a dry run of syncing process.
      # We do this on every push to ensure that an actual sync will work properly
      - name: Sync docs to ReadMe (dry run)
        uses: ./
        with:
          rdme: docs ./documentation --key=${{ secrets.README_DEVELOPERS_API_KEY }} --version=${{ vars.README_DEVELOPERS_MAIN_VERSION }} --dryRun

      # And finally, we perform an actual sync to ReadMe if we're on the main branch
      - name: Sync docs to ReadMe
        uses: readmeio/rdme@v10.2.0-next.4
        with:
          rdme: docs upload ./documentation/legacy/ --key=${{ secrets.README_DEVELOPERS_API_KEY }} --version=${{ vars.README_DEVELOPERS_MAIN_VERSION }}
